<img class="img-fluid bg-primary shadow-sm"
 src="https://i.pinimg.com/originals/68/e9/cf/68e9cfe1ce2760ed7d6eb6ff2ee14d3a.jpg" alt="">

<mat-nav-list dense class="mt-2">
    <a mat-list-item [routerLink]="['/stock']" (click)="onClickNavClose()"> 
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar  src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-stock-market-economic-crisis-wanicon-flat-wanicon.png" alt="">
    </a>
    <a mat-list-item  href="#"  (click)="onClickNavClose()"> 
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img matListAvatar  src="https://img.icons8.com/external-prettycons-flat-prettycons/47/000000/external-shop-buildings-prettycons-flat-prettycons-4.png" alt="">
    </a>
    <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>Dashboard</h3>
    <a mat-list-item href="#"> 
        <span mat-line><span class="mat-h4">Summary</span></span>
        <img matListAvatar  src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-graph-science-and-technology-icongeek26-flat-icongeek26.png" alt="">
    </a>
    <a mat-list-item href="#"> 
        <span mat-line><span class="mat-h4">Customer</span></span>
        <img matListAvatar  src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-customer-design-thinking-and-3d-model-printing-flatart-icons-lineal-color-flatarticons.png" alt="">
    </a>
 </mat-nav-list>